@model EmployeeProject.Data.ForgotPasswordModel

<form asp-action="GenerateToken" method="post">
    <label>Email</label>
    <input type="email" asp-for="email" class="form-control" required />
    <button type="submit" class="btn btn-primary mt-2">Generate Reset Token</button>
</form>
