@model EmployeeProject.Data.ResetPasswordModel
<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <label>New Password</label>
    <input type="password" asp-for="NewPassword" class="form-control" required />
    <button type="submit" class="btn btn-success mt-2">Reset Password</button>
</form>
