.error-message {
    color: red;
    font-size: 0.9rem;
    min-height: 10px; /* Reserve space for error */
    display: block;
}
input.input-validation-error {
    border: 1px solid red;
}
.login_btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 8px 20px;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#phone {
    height: 38px !important; /* same as Bootstrap input */
}
.iti {
    width: 100%; /* Ensures it doesn't overflow */
}
input.form-control {
    height: 38px;
}



